<% @links.each do |link| %>
<p>
  <%= link_to link.title, link_path(link.id) %> |
  <%= link_to "#{link.url}", link.url %> |
  <% if link.user == current_user %>
    <%= link_to "Edit Link", edit_link_path(link.id) %>
  <% end %>
</p>
<% end %>